/* to make lines scroll instead of wrap */
/* from http://stackoverflow.com/a/23393920 */

.highlight pre code * {
  white-space: nowrap;    // this sets all children inside to nowrap
}

.highlight pre {
  overflow-x: auto;       // this sets the scrolling in x
}

.highlight pre code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}

code[class^="language-"] {
  color: white;
}

pre {
  color: white;
  background-color: #304c60;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.highlight .hll { background-color: #ffffcc }
/* .highlight  { background: #304c60; color: #ffffff; background-color: #304c60 } */
.highlight .c { color: #e7e77f; background-color: #304c60 } /* Comment */
.highlight .err { color: #ffffff; background-color: #304c60 } /* Error */
.highlight .g { color: #ffffff; background-color: #304c60 } /* Generic */
.highlight .k { color: #5ad5d5; background-color: #304c60 } /* Keyword */
.highlight .l { color: #ffffff; background-color: #304c60 } /* Literal */
.highlight .n { color: #ffffff; background-color: #304c60 } /* Name */
.highlight .o { color: #ffffff; background-color: #304c60 } /* Operator */
.highlight .x { color: #ffffff; background-color: #304c60 } /* Other */
.highlight .p { color: #ffffff; background-color: #304c60 } /* Punctuation */
.highlight .cm { color: #e7e77f; background-color: #304c60 } /* Comment.Multiline */
.highlight .cp { color: #74ff74; background-color: #304c60 } /* Comment.Preproc */
.highlight .c1 { color: #e7e77f; background-color: #304c60 } /* Comment.Single */
.highlight .cs { color: #e7e77f; background-color: #304c60 } /* Comment.Special */
.highlight .gd { color: #522719; background-color: #09172f } /* Generic.Deleted */
.highlight .ge { color: #ffffff; background-color: #304c60 } /* Generic.Emph */
.highlight .gr { color: #000000; background-color: #00ffff } /* Generic.Error */
.highlight .gh { color: #74ff74; background-color: #304c60 } /* Generic.Heading */
.highlight .gi { color: #ffffff; background-color: #000000 } /* Generic.Inserted */
.highlight .go { color: #7f7f7f; background-color: #304c60 } /* Generic.Output */
.highlight .gp { color: #ffffff; background-color: #304c60 } /* Generic.Prompt */
.highlight .gs { color: #ffffff; background-color: #304c60 } /* Generic.Strong */
.highlight .gu { color: #74ff74; background-color: #304c60 } /* Generic.Subheading */
.highlight .gt { color: #ffff00; background-color: #ff0000 } /* Generic.Traceback */
.highlight .kc { color: #5ad5d5; background-color: #304c60 } /* Keyword.Constant */
.highlight .kd { color: #5ad5d5; background-color: #304c60 } /* Keyword.Declaration */
.highlight .kn { color: #5ad5d5; background-color: #304c60 } /* Keyword.Namespace */
.highlight .kp { color: #5ad5d5; background-color: #304c60 } /* Keyword.Pseudo */
.highlight .kr { color: #5ad5d5; background-color: #304c60 } /* Keyword.Reserved */
.highlight .kt { color: #e194e8; background-color: #304c60 } /* Keyword.Type */
.highlight .ld { color: #ffffff; background-color: #304c60 } /* Literal.Date */
.highlight .m { color: #ffffff; background-color: #304c60 } /* Literal.Number */
.highlight .s { color: #ff88aa; background-color: #304c60 } /* Literal.String */
.highlight .na { color: #ffffff; background-color: #304c60 } /* Name.Attribute */
.highlight .nb { color: #ffffff; background-color: #304c60 } /* Name.Builtin */
.highlight .nc { color: #ffffff; background-color: #304c60 } /* Name.Class */
.highlight .no { color: #ffc213; background-color: #304c60 } /* Name.Constant */
.highlight .nd { color: #ffffff; background-color: #304c60 } /* Name.Decorator */
.highlight .ni { color: #bfbfef; background-color: #304c60 } /* Name.Entity */
.highlight .ne { color: #ffffff; background-color: #304c60 } /* Name.Exception */
.highlight .nf { color: #ffffff; background-color: #304c60 } /* Name.Function */
.highlight .nl { color: #ffffff; background-color: #304c60 } /* Name.Label */
.highlight .nn { color: #ffffff; background-color: #304c60 } /* Name.Namespace */
.highlight .nx { color: #ffffff; background-color: #304c60 } /* Name.Other */
.highlight .py { color: #ffffff; background-color: #304c60 } /* Name.Property */
.highlight .nt { color: #5ad5d5; background-color: #304c60 } /* Name.Tag */
.highlight .nv { color: #ef9f9f; background-color: #304c60 } /* Name.Variable */
.highlight .ow { color: #ffffff; background-color: #304c60 } /* Operator.Word */
.highlight .w { color: #ffffff; background-color: #304c60 } /* Text.Whitespace */
.highlight .mf { color: #ffffff; background-color: #304c60 } /* Literal.Number.Float */
.highlight .mh { color: #ffffff; background-color: #304c60 } /* Literal.Number.Hex */
.highlight .mi { color: #ffffff; background-color: #304c60 } /* Literal.Number.Integer */
.highlight .mo { color: #ffffff; background-color: #304c60 } /* Literal.Number.Oct */
.highlight .sb { color: #ff88aa; background-color: #304c60 } /* Literal.String.Backtick */
.highlight .sc { color: #ff88aa; background-color: #304c60 } /* Literal.String.Char */
.highlight .sd { color: #ff88aa; background-color: #304c60 } /* Literal.String.Doc */
.highlight .s2 { color: #ff88aa; background-color: #304c60 } /* Literal.String.Double */
.highlight .se { color: #ff88aa; background-color: #304c60 } /* Literal.String.Escape */
.highlight .sh { color: #ff88aa; background-color: #304c60 } /* Literal.String.Heredoc */
.highlight .si { color: #ff88aa; background-color: #304c60 } /* Literal.String.Interpol */
.highlight .sx { color: #ff88aa; background-color: #304c60 } /* Literal.String.Other */
.highlight .sr { color: #ff88aa; background-color: #304c60 } /* Literal.String.Regex */
.highlight .s1 { color: #ff88aa; background-color: #304c60 } /* Literal.String.Single */
.highlight .ss { color: #ff88aa; background-color: #304c60 } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff; background-color: #304c60 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #ef9f9f; background-color: #304c60 } /* Name.Variable.Class */
.highlight .vg { color: #ef9f9f; background-color: #304c60 } /* Name.Variable.Global */
.highlight .vi { color: #ef9f9f; background-color: #304c60 } /* Name.Variable.Instance */
.highlight .il { color: #ffffff; background-color: #304c60 } /* Literal.Number.Integer.Long */

/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */

/*
.highlight pre, pre, .highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.highlight .c { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }
*/
